@charset "utf-8";
:root {
    --primary-color: #AB227D;
    --second-color: #89398A;
    --third-color: #FFA31C;
    --four-color: #1B1F30;
    --five-color: #003D73;
}

.left {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--second-color);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.logo-container {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("../../../../public/logo.png");
    background-position: center;
    background-size: cover;
    width: 244px;
    height: 104px;
}

.logo-container p {
    color: #ADADAD;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container p{
    font-size: 1.3em;
    text-align: right;
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

button, .submit-btn{
    width: 350px;
    margin-bottom: 20px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    border: 1px solid #ADADAD;
    outline: none;
    font-weight: 700;
}

input::placeholder{
    font-size: 16px;
    color: #0000008a;
    line-height: 100px;
}
input:focus{
    font-size: 20px;
    transition: 1s;
}

input:not(:focus){
    font-size: 20px;
}

input[type="submit"], button{
    background-color: var(--third-color);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

input[type="submit"]:hover{
    background-color: #ffa41c8e;
}

.cads-btn{
    background-color: var(--four-color);
    text-transform: uppercase;  
}

.cads-btn:hover{
    background-color:#1b1f30b9;
}

.email-container, .password-container {
    display: flex;
    position: relative;
    padding: 15px;
}



.email-container input, .password-container input {
    width: 100%;
    padding: 20px 40px; 
    border: 1px solid #ccc;
    border-radius: 15px;
}

.email-container i, .password-container i {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 30px; 
    color: #003D73; 
}
.email-container i {
    left: 25px; 
}
.password-container i:first-child {
    left: 25px; 
}

.password-container i:last-child {
    right: 30px;
    font-size: 20px;
    cursor: pointer; 
}


@media (max-width: 1250px) {
    .left {
        width: 100%;
    }
    .email-container, .password-container {
        position: relative; 
        margin-bottom: 15px; 
    }

    .email-container input, .password-container input {
        width: 70%;
        margin: 0 auto;
        padding: 20px 90px; 
        border: 1px solid #ccc;
        border-radius: 15px;
    }
    
    .email-container i, .password-container i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #003D73;
    }

    .email-container i {
        left: 19%; 
    }

    .password-container i:first-child {
        left: 19%; 
    }

    .password-container i:last-child {
        right: 20%; 
        cursor: pointer; 
    }
}

@media (width < 720px){
    .email-container input, .password-container input{
        width: 100%;
    }
    .email-container i {
        left: 5%; 
    }

    .password-container i:first-child {
        left: 5%; 
    }

    .password-container i:last-child {
        right: 10%; 
        cursor: pointer; 
    }
} 