@charset "utf-8";

:root {
    --primary-color: #AB227D;
    --second-color: #89398A;
    --third-color: #FFA31C;
    --four-color: #1B1F30;
    --five-color: #003D73;
}

.right {
    width: 40vw;
    height: 100vh;
    background-color: var(--primary-color);
}

.right .ilustration-banner {
    background-image: url("../../../public/ilustration.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}