@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-color: #89398A;
}